.taskManager {
    background-color: #f3f2ed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans';
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}

.taskManager--wrapper {
    padding: 0 1rem;
}

.taskManager--title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.taskManager--grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    padding: 2rem 0;
}

.taskManager--grid>div {
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    padding: .5rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}