.taskManager--addTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: #f3f2ed;
    font-family: 'Fira Sans';
    font-size: 1.5rem;
    font-weight: 400;
    color: #333; */
}