.taskManager {
    background-color: #f2f5f5;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans';
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
}

.taskManager--wrapper {
    padding: 0 1rem;
}

.taskManager--title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.taskManager--grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 1rem;
    width: 100%;
    padding-top: 1rem;
}

.taskManager--grid > div {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}