.taskManager {
    background-color: #f2f5f5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Fira Sans';
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
}

.taskManager--wrapper {
    padding: 0 1rem;
}

.taskManager--title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.taskManager--grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    grid-gap: 1rem;
    width: 100%;
}