.taskManager {
    background-color: #f2f5f5;
    width: 100%;
    min-height: 100vh;
}

.taskManager--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Fira Sans';
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    padding: 0 1rem;
}

.taskManager--title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}